<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pol Fuentes - CV</title>
  <meta name="description" content="Curriculum Vitae of Pol Fuentes">
  <link rel="stylesheet" href="http://localhost:4000/assets/style.css">
  <link rel="canonical" href="{{ site.baseurl }}/cv.html">
</head>

<body>





  <div>
    <header class="header-background">


      <div class="clearfix border-bottom-thick header-border">
        <div class="left sm-width-full py-1 mt-1 mt-lg-0"style="padding-left: 10px;">
          <a class="align-middle link-primary text-accent" href="/">
            Pol Fuentes
          </a>
        </div>
        <ul class="list-reset right py-1 header-text font-smoothing">
          <li class="inline-block">
            <a class="align-middle link-primary header-link mr-2" href="/about/">About</a>
          </li>
          <li class="inline-block">
            <a class="align-middle link-primary header-link mr-2" href="/cv.html">CV</a>
          </li>
        </ul>
      </div>
      <div class="container mx-auto px-2 mb-2 clearfix header-text">
        <h1 class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title">Pol Fuentes - CV</h1>
        <li class="inline-block" style="display: flex; align-items: center;">
  <p class="h4 lh-condensed font-smoothing mt-2 py-1" style="margin-right: 10px;">A brief overview of my skills, experience, and education.</p>

</li>
      </div>
    </header>





    <div class="container mx-auto px-2 py-4">

       <object
	data="cv/polfuentescv.pdf"
	type="application/pdf"
	width="100%"
	height="1150px">
	<p>
		Your browser does not support PDFs.
		<a href="cv/polfuentescv.pdf">Download the PDF</a>
		.
	</p>
    </object>


    <footer class="border-top-thin clearfix mt-2">
      <div class="container mx-auto px-2">
        <p class="col-8 sm-width-full left py-2 mb-0">This project is maintained by <a class="text-accent" href="https://github.com/SpaceMercury">Pol Fuentes</a></p>
      </div>
    </footer>
  </div>
</body>

</html>
